<div class="row">
    <div class="col-sm-4">
        <div class="page-header">
            <h3>
                <strong>Mezzo</strong> &mdash; Model Builder
            </h3>
        </div>
        <ul class="nav nav-tabs">
            <li style="width: 50%" ng-class="{ active: tab === 'add' }">
                <a href="#tab-add" ng-click="showTab('add', $event)">
                    <span class="glyphicon glyphicon-arrow-down pull-right" ng-show="tab === 'add'"></span>
                    <span>Add Field</span>
                </a>
            </li>
            <li style="width: 50%" ng-class="{ active: tab === 'edit', disabled: !selectedField }">
                <a id="tab-heading-edit" href="#tab-edit" ng-click="showTab('edit', $event)">
                    <span class="glyphicon glyphicon-arrow-right pull-right" ng-show="tab === 'edit'"></span>
                    <span>Edit Field</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-add" class="tab-pane" ng-class="{ active: tab === 'add' }">
                <!-- ADD COMPONENTS -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Text</h5>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-default btn-block" ng-click="addField('text-single')">
                                    <span class="glyphicon glyphicon-font"></span>
                                    <span>Single line text</span>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-default btn-block" ng-click="addField('text-multi')">
                                    <span class="glyphicon glyphicon-align-left"></span>
                                    <span>Paragraph text</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Basic</h5>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-default btn-block" ng-click="addField('checkbox')">
                                    <span class="glyphicon glyphicon-check"></span>
                                    <span>Checkbox</span>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-default btn-block" ng-click="addField('dropdown')">
                                    <span class="glyphicon glyphicon-list"></span>
                                    <span>Dropdown</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- ADD COMPONENTS -->
            </div>

            <div id="tab-edit" class="tab-pane" ng-class="{ active: tab === 'edit' }">
                <h4>Options</h4>
                <div mezzo-compile="selectedField.optionsDirective"></div>
                <br>
                <button type="button" class="btn btn-danger" ng-click="deleteField(selectedField)">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete field
                </button>
            </div>

        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header">
            <h3>models</h3>
        </div>
        <div sv-root sv-part="fields">
            <div ng-repeat="field in fields" ng-click="selectField(field)" ng-class="{ 'well well-sm': field === selectedField }" sv-element>
                <div mezzo-compile="field.mainDirective"></div>
            </div>
        </div>
    </div>
</div>